<font color='orange'>**DSBDAL Ass. 1 -  Data Wrangling, I**</font><br/>
##### Perform the following operations using Python on any open source dataset (e.g., data.csv)

##### **1. Import all the required Python Libraries.**

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

##### **2. Locate an open source data from the web (e.g., https://www.kaggle.com). Provide a clear description of the data and its source (i.e., URL of the web site).**

<font color='blue'>https://www.kaggle.com/datasets/khadeejahalghadeer/renewable-energy-generation-world-1965-to-2018</font><br/>
<font color='red'>Renewable energy sources like hydropower, solar, wind, geothermal and modern biofuel production for all the countries from the year 1965 to 2018.</font>

##### **3. Load the Dataset into pandas dataframe.**

In [4]:
df = pd.read_csv('1_energy.csv')
df.head()

,Entity,Code,Year,Hydropower (terawatt-hours),Solar (terawatt-hours),Wind (terawatt-hours),Other renewables (terawatt-hours)
0,Africa,NaN,1965,14.278806,0.0,0.0,0.0
1,Africa,NaN,1966,15.649049,0.0,0.0,0.0
2,Africa,NaN,1967,16.158333,0.0,0.0,0.0
3,Africa,NaN,1968,18.622983,0.0,0.0,0.0
4,Africa,NaN,1969,21.582897,0.0,0.0,0.0

##### **4. Data Preprocessing: check for missing values in the data using pandas isnull(), describe() function to get some initial statistics. Provide variable descriptions. Types of variables etc. Check the dimensions of the data frame.**

In [5]:
df.shape

(5091, 7)

In [6]:
df.isna().sum()

Entity                                  0
Code                                 1006
Year                                    0
Hydropower (terawatt-hours)             0
Solar (terawatt-hours)                  0
Wind (terawatt-hours)                   0
Other renewables (terawatt-hours)      54
dtype: int64

In [7]:
df.dtypes

Entity                                object
Code                                  object
Year                                   int64
Hydropower (terawatt-hours)          float64
Solar (terawatt-hours)               float64
Wind (terawatt-hours)                float64
Other renewables (terawatt-hours)    float64
dtype: object

In [9]:
df.describe() # These are numeric variables - int/float(64) type

,Year,Hydropower (terawatt-hours),Solar (terawatt-hours),Wind (terawatt-hours),Other renewables (terawatt-hours)
count,5091.000000,5091.000000,5091.000000,5091.000000,5037.000000
mean,1992.314673,74.058678,1.314816,4.782247,5.747665
std,15.466422,284.594223,15.293356,41.740873,29.168963
min,1965.000000,0.000000,0.000000,0.000000,0.000000
25%,1979.000000,0.808245,0.000000,0.000000,0.000000
50%,1993.000000,6.023642,0.000000,0.000000,0.042000
75%,2006.000000,29.935432,0.002046,0.030149,1.316000
max,2018.000000,4193.104151,584.630918,1269.953375,625.805362

In [11]:
df['Entity'].unique()
# Categorical Variable - Represents Countries

array(['Africa', 'Algeria', 'Argentina', 'Asia Pacific', 'Australia',
       'Austria', 'Azerbaijan', 'Bangladesh', 'Belarus', 'Belgium',
       'Brazil', 'Bulgaria', 'CIS', 'Canada', 'Central America', 'Chile',
       'China', 'Colombia', 'Croatia', 'Cyprus', 'Czech Republic',
       'Denmark', 'Eastern Africa', 'Ecuador', 'Egypt', 'Estonia',
       'Europe', 'Europe (other)', 'Finland', 'France', 'Germany',
       'Greece', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Japan',
       'Kazakhstan', 'Kuwait', 'Latvia', 'Lithuania', 'Luxembourg',
       'Macedonia', 'Malaysia', 'Mexico', 'Middle Africa', 'Middle East',
       'Morocco', 'Netherlands', 'New Zealand', 'North America', 'Norway',
       'Oman', 'Other Asia & Pacific', 'Other CIS', 'Other Caribbean',
       'Other Middle East', 'Other Northern Africa',
       'Other South America', 'Other Southern Africa', 'Pakistan', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia',
       'Saudi Arabia', 'Singapore', 'Slovakia', 'Slovenia',
       'South & Central America', 'South Africa', 'South Korea', 'Spain',
       'Sri Lanka', 'Sweden', 'Switzerland', 'Taiwan', 'Thailand',
       'Trinidad and Tobago', 'Turkey', 'Turkmenistan', 'USSR', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uzbekistan', 'Venezuela', 'Vietnam', 'Western Africa', 'World'],
      dtype=object)

In [21]:
df['Code'].unique()
# Categorical Variable - Represents Country Codes

array([nan, 'DZA', 'ARG', 'AUS', 'AUT', 'AZE', 'BGD', 'BLR', 'BEL', 'BRA',
       'BGR', 'CAN', 'CHL', 'CHN', 'COL', 'HRV', 'CYP', 'CZE', 'DNK',
       'ECU', 'EGY', 'EST', 'FIN', 'FRA', 'DEU', 'GRC', 'HKG', 'HUN',
       'ISL', 'IND', 'IDN', 'IRN', 'IRQ', 'IRL', 'ISR', 'ITA', 'JPN',
       'KAZ', 'KWT', 'LVA', 'LTU', 'LUX', 'MKD', 'MYS', 'MEX', 'MAR',
       'NLD', 'NZL', 'NOR', 'OMN', 'PAK', 'PER', 'PHL', 'POL', 'PRT',
       'QAT', 'ROU', 'RUS', 'SAU', 'SGP', 'SVK', 'SVN', 'ZAF', 'KOR',
       'ESP', 'LKA', 'SWE', 'CHE', 'TWN', 'THA', 'TTO', 'TUR', 'TKM',
       'OWID_USS', 'UKR', 'ARE', 'GBR', 'USA', 'UZB', 'VEN', 'VNM',
       'OWID_WRL'], dtype=object)

In [63]:
import math
df2 = pd.DataFrame(df.loc[df['Code'].isna()]).reset_index()
df2['Entity'].unique()

array(['South Africa', 'China', 'Kazakhstan', 'Mexico', 'Ethiopia',
       'Germany', 'Turkey', 'Democratic Republic of Congo', 'Iran',
       'United States', 'Philippines', 'Dominican Republic', 'Jordan',
       'Algeria', 'Brazil', 'Nigeria'], dtype=object)

##### Null values need to be handled, hence I used country-converter package - https://pypi.org/project/country-converter.
##### Also, I used ChatGPT to list the most imp country (wrt renewable energy sector), under the above territories, to deal with the Missing Country Codes.

##### Here's what it gave me:

In [80]:
gpt_dict = {'Africa': 'South Africa', 'Asia Pacific': 'China', 'CIS': 'Kazakhstan',
 'Central America': 'Mexico', 'Eastern Africa': 'Ethiopia', 'Europe': 'Germany', 'Europe (other)': 'Turkey', 
 'Middle Africa': 'Democratic Republic of Congo', 'Middle East': 'Iran', 'North America': 'United States', 
 'Other Asia & Pacific': 'Philippines', 'Other CIS': 'Kazakhstan', 'Other Caribbean': 'Dominican Republic', 
 'Other Middle East': 'Jordan', 'Other Northern Africa': 'Algeria', 'Other South America': 'Brazil', 
 'Other Southern Africa': 'South Africa', 'South & Central America': 'Brazil', 'Western Africa': 'Nigeria', 'USSR':'Russia', 'World':'China'}

In [81]:
df['Entity'].replace(gpt_dict, inplace=True)

##### Extracting Country Codes for the countries and filling in the Code column

In [82]:
import country_converter as coco
cc = coco.CountryConverter()
ser = pd.Series(df['Entity'])
codes = cc.pandas_convert(series=ser, to='ISO3')  
df['Code'] = codes

In [83]:
df['Other renewables (terawatt-hours)'].fillna(df['Other renewables (terawatt-hours)'].mean(), inplace=True);

In [84]:
df.isna().sum()

Entity                               0
Code                                 0
Year                                 0
Hydropower (terawatt-hours)          0
Solar (terawatt-hours)               0
Wind (terawatt-hours)                0
Other renewables (terawatt-hours)    0
dtype: int64

##### **5. Data Formatting and Data Normalization: Summarize the types of variables by checking the data types (i.e., character, numeric, integer, factor, and logical) of the variables in the data set. If variables are not in the correct data type, apply proper type conversions.**

In [77]:
df.dtypes

Entity                                object
Code                                  object
Year                                   int64
Hydropower (terawatt-hours)          float64
Solar (terawatt-hours)               float64
Wind (terawatt-hours)                float64
Other renewables (terawatt-hours)    float64
dtype: object

##### **6. Turn categorical variables into quantitative variables in Python. In addition to the codes and outputs, explain every operation that you do in the above steps and explain everything that you do to import/read/scrape the data set.**

In [85]:
df_cat_to_quant = pd.get_dummies(df['Code'])
df_new = pd.concat([df, df_cat_to_quant], axis=1)
df_new

,Entity,Code,Year,Hydropower (terawatt-hours),Solar (terawatt-hours),Wind (terawatt-hours),Other renewables (terawatt-hours),ARE,ARG,AUS,...,TKM,TTO,TUR,TWN,UKR,USA,UZB,VEN,VNM,ZAF
0,South Africa,ZAF,1965,14.278806,0.000000,0.000000,0.000000,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,South Africa,ZAF,1966,15.649049,0.000000,0.000000,0.000000,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,South Africa,ZAF,1967,16.158333,0.000000,0.000000,0.000000,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,South Africa,ZAF,1968,18.622983,0.000000,0.000000,0.000000,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,South Africa,ZAF,1969,21.582897,0.000000,0.000000,0.000000,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5086,China,CHN,2014,3883.143443,197.910508,712.031697,502.158919,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5087,China,CHN,2015,3884.417357,260.739219,831.384507,536.466244,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5088,China,CHN,2016,4017.743773,328.378114,956.873542,556.623356,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5089,China,CHN,2017,4065.443127,453.517657,1127.989587,584.975827,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5090,China,CHN,2018,4193.104151,584.630918,1269.953375,625.805362,0,0,0,...,0,0,0,0,0,0,0,0,0,0